body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 40px;
    font-size: 60px;
    color: black;
    height: 20%;
}

#prevBtn, #nextBtn {
    width: 120px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #e7e7e7;
    box-shadow: 2px 2px 4px 2px #c7c7c7;
}

#questionContainer {
    display: flex;
    align-items: center;
}

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 99%;
    height: 70%;
    margin: 5px auto;
}

.choiceBtn {
    padding: 20px;
    font-size: 40px;
    color: white;
    border: 1px solid #ccc;
    background-color: #2285ff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #cecece;
}

.choiceBtn:hover {
    background-color: #2e45f4;
}
